:host ::ng-deep {
    .back {
        color: #00bf6f;
    }
    
    .spacer {
        flex: 1 1 auto;
      }
    .container {
        margin: 5px;
        .left-border-green {
            border-left: 3px solid #00bf6f;
        }

        .color_green{
            color: #00bf6f;
        }

        .left-border-red {
            border-left: 3px solid #FF0000;
        }
        .cardContainer {
            float: left;
            margin: 10px;

            .card-container {
                height: 65%;
                width: 100%;
                position: relative;
                display: flex;
                overflow-y: scroll;
                align-items: center;
                justify-content: center;
                .bottom-right{
                    position: absolute;
                    bottom: 2px;
                    right: 5px;
                    cursor: pointer;
                }
            }
        }
    }
    .loading-indicator{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -100px;
        margin-left: -50px;
    }
}
