<div class="container">
  <div class="toolbar" role="banner">
    <img
      width="40"
      alt="Angular Logo"
      src="https://img.icons8.com/metro/26/000000/link.png"
    />
    <span class="title">Bookmark and URL Shortener</span>
    <div class="spacer"></div>
    <button
    mat-button
    color="primary"
    class="dasboard"
    (click)="openDashboard()"
  >
    DASHBOARD
  </button>
    <button
      mat-button
      color="primary"
      class="login"
      (click)="openDialogLogin()"
    >
      Login
    </button>
    <button
      mat-button
      color="primary"
      class="register"
      (click)="openDialogRegister()"
    >
      Register
    </button>
  </div>

  <div class="content">
    <div class="col-xl-12 mb-5 mb-xl-0 car-layout">
      <div class="card shadow">
        <form [formGroup]="shortUrlForm">
          <div class="row">
            <div class="col-xl-12 col-lg-12">
              <div class="new-link-title">Paste the URL to be shortened</div>
              <div class="text-area-layout">
                <label class="text-area-label">Destination URL</label>
                <textarea
                  class="text-area"
                  formControlName="longUrl"
                  name="trim_url"
                  placeholder="Type or paste a link (URL)"
                ></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="expiry-label">Expiry date</div>
            <mat-form-field class="expiry-date">
              <input
                matInput
                [matDatepicker]="picker"
                formControlName="expiryDate"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="row create-link">
            <button
              mat-raised-button
              color="primary"
              class="btn-create-link"
              [class.spinner]="loading"
              [disabled]="loading"
              (click)="requestShortUrl()"
            >
              Create Link
            </button>
          </div>
          <div class="row short-url" *ngIf="shortUrl">
            <img
              class="show-arrow"
              src="https://img.icons8.com/ios/50/000000/hand-down.png"
            />
            <div class="short-url-box">
              <span>{{ shortUrl }}</span>
              <img
                class="copy-img"
                [cdkCopyToClipboard]="copy()"
                src="https://img.icons8.com/material-rounded/24/000000/copy.png"
                (click)="copyImageClick()"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
