<div class="container">
  <div layout="row">
    <div class="cardContainer" *ngFor="let url of bookmarkUrls">
      <div class="card" [ngClass] = "borderStyleExpired(url.expiryDate)">
        <div class="header">
          <div class="fav-image">
            <img
              class="fav-icon"
              [src]="getFavIcon(url.longUrl)"
              appImageFavIcon
            />
          </div>
          <div class="title">{{ url.title }}</div>
          <div class="operations">
            <mat-icon
              class="material-icons color_green"
              (click)="copy(url.shortUrl)"
              >content_copy
            </mat-icon>
            <mat-icon class="material-icons color_green">edit </mat-icon>
            <mat-icon class="material-icons color_green">delete </mat-icon>
          </div>
        </div>
        <div class="card-container">
          <div>{{ url.description }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
