<mat-toolbar class="toobar">
  <button mat-stroked-button class="back" (click)="back()">
    <mat-icon>arrow_back_ios</mat-icon> Group
  </button>
  <span class="spacer"></span>
  <button mat-stroked-button class="back" (click)="addUser()">
    <mat-icon>add</mat-icon> User
  </button>
</mat-toolbar>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="usernamne">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.userName }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef>Role</th>
      <td mat-cell *matCellDef="let element">{{ element.roleName }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="operations">
      <th mat-header-cell *matHeaderCellDef>Operations</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon (click)="editRole(element)">edit</mat-icon>
        <mat-icon (click)="deleteUser(element)">delete</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>



<div class="loading-indicator" *ngIf="loading">
    <mat-spinner></mat-spinner>
 </div>